@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap'); /*.obj*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*.val*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,700&display=swap');/*brand*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/*contact*/
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');/*sub*/

.dark-mode{
  background-color: black;
  color: white;
}

.title-brand{
  font-family: 'Overpass', sans-serif;
}

.obj{
  display: flex;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  justify-content: left;
}

.fa-facebook,.fa-twitter,.fa-instagram,.fa-github{
  padding: 15px;
  background-color: black;
  color: white;
}

.container-fluid{
  background-color: black;
}

.hor-scroll p{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.hor-scroll{
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.txtbox{
  padding: 5px;
  margin-left: 50px;
}

.val{
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: right;
}

.spaceMe{
  display: flex;
  justify-content: space-between;
}

.fa-map-marker{
  font-size: 25px;
  color: #dd4545;
}

.fa-thermometer{
  font-size: 25px;
  color: dodgerblue;
}

.fa-file-text{
  font-size: 25px;
  color: dodgerblue;
}

.fa-calendar{
  font-size: 25px;
  color: orangered;
}

.fa-cloud{
  font-size: 25px;
  color: rgb(21, 92, 151);
}

.fa-sun-o{
  font-size: 25px;
  color: orangered;
}

.fa-moon-o{
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.fa-tint{
  font-size: 25px;
  color: #5077e2;
}

@media only screen and (max-width: 360px){
  .txtbox{
    padding: 1px;
    margin-left: 5px;
  }

  .obj{
    display: flex;
    font-family: 'Karla', sans-serif;
    font-size: 10px;
    justify-content: left;
  }

  .val{
    font-size: 10px;
  }

  .fa{
    font-size: 15px;
  }

}


@media only screen and (max-width: 420px){
  .txtbox{
    padding: 1px;
    margin-left: 5px;
  }

  .obj{
    display: flex;
    font-family: 'Karla', sans-serif;
    font-size: 10px;
    justify-content: left;
  }

  .val{
    font-size: 10px;
  }

  .fa{
    font-size: 15px;
  }

}


@media only screen and (max-width: 620px){
  .txtbox{
    padding: 1px;
    margin-left: 5px;
  }

  .obj{
    display: flex;
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    justify-content: left;
  }

  .val{
    font-size: 13px;
  }

  .fa{
    font-size: 15px;
  }

}



.btn {
  background-color: #F48224;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
  border: thick;
  position: relative;
  transition:all 0.3s ease 0s;
}
.btn:hover,
.btn.active:hover{
  color: #ffffff;
}
.btn:before{
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  background-color:#ffffff;
  width: 30%;
  height: 4px;
  transition:all 0.3s ease 0s;
}
.btn:after{
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color:#ffffff;
  width: 30%;
  height: 4px;
  transition:all 0.3s ease 0s;
}
.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after{
  width: 100%;
}

@media screen and (max-width: 575px){
  .btn{
      margin-bottom: 50px !important;
  }
}

.oflo{
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: black;
}

.card-block{
  min-width: 100px;
  min-width: 150px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.handwrite{
  font-family: 'Pacifico', cursive;
}

.subText{
  font-family: 'Pangolin', cursive;
}